* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
  height: 100vh;
  width: 100vw;
}
#root {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
  border-radius: 8px;
  font-family: Karla;
}
.container {
  padding-bottom: 10px;
  background-color: #fff;
}