* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
  height: 100vh;
  width: 100vw;
}
#root {
  background-color: #F5F7FB;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 8px;
  font-family: Karla;
  background-image: url('./images/blob-top.png'), url('./images/blob-bottom.png');
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  padding: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
  padding-bottom: 0px;
}

h1.title {
  color: #293264;
  font-size: 50px;
  margin: 0 auto;
  margin-top: 100%;
}
p.description {
  color: #293264;
}
.start-quiz {
  background-color: #4D5B9E;
  color: #fff;
  font-size: 20px;
  padding: 20px 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.front-page {
  min-height: 850px;
}
.quiz-options {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  margin: 0 auto;
}
h2.question {
  color: #293264;
  font-size: 22px;
  text-align: left;
  padding: 0px 70px;
}
.questions {
  padding: 20px 0px;
  border-bottom: 1px solid #DBDEF0;
  width: 90%;
}
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
label {
  color: #4D5B9E;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  margin: 0 10px;
}
.quiz-options input[type=radio]:checked + label {
  background-color: #D6DBF5;
  color: #293264;
}
.check-answers {
  background-color: #4D5B9E;
  margin: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  width: 200px;
  color: #F5F7FB;
  padding: 15px;
}